<div id="main-content">
<!-- <div id="thumbnail">
    <div id="img">
         <a href="#" id="A_3"><img src="https://voicerepublic.com/media/W1siZiIsIjIwMTUvMDgvMDIvOHg2eXlvN3hpNV9yZXNwYXduX2ltZ18yLnBuZyJdLFsicCIsInRodW1iIiwiMTgxeDEzMSNudyJdXQ?sha=cfd6f0ec" id="IMG_4" alt='' /></a>
    </div>
    <div id="DIV_5">
        <div class="old-publisher">
             <a href="#" id="A_8" class="left"><span id="SPAN_9"></span> <span id="SPAN_10">RESPAWN - Gathering of Game Developers</span></a> 
             <a href="#" id="A_11"><span id="SPAN_12"></span> <span id="SPAN_13">Respawn Stage 3</span></a>
        </div>
        <div class="old-date">4th Aug 2015 | <span id="SPAN_17">11:00 – 11:45</span></div>
        <div id="DIV_18">HOW DO YOU PICK YOUR GAME PROJECTS AS AN INDIE DEV? IN CO-OP WITH INDIE ARENA</div>
        <div id="DIV_19">Speaker: Martin Nerurkar, Vlad Micu, Johannes Zirm, Joost van Dongen, Andreas Heldt</div>
    </div>
</div> -->

<div class="thumbnail old-width">
    <div class="thumbnail-inside oldbackground">

        <div class="thumb-image-holder no-margin hide-for-small-only">

            <div class="thumb-image" data-bg="thumb{{myNum}}"></div>
            <div class="thumb-overlay">
                <!-- <div class="play-icon">
                    PLAY
            </div> -->
            
            </div>

        </div>
        <div class="thumb-right right">
            <div class="thumb-info">
                    <div class="old-publisher">
             <a href="#" id="A_8" class="left"><span id="SPAN_9"></span> <span id="SPAN_10">RESPAWN - Gathering of Game Developers</span></a> 
             <a href="#" id="A_11"><span id="SPAN_12"></span> <span id="SPAN_13">Respawn Stage 3</span></a>
        </div>
                        <div class="old-date">4th Aug 2015 | <span id="SPAN_17">11:00 – 11:45</span></div>

                <h1 class="thumb-title old-style">How Do You Pick Your Game Projects As An Indie Dev?</h1>
                <p class="thumb-meta hide-for-small-up"><span class="thumb-publisher">Respawn - Gathering of Game Developers</span><span class="thumb-timeago">2 days ago</span></p>
                <p class="thumb-logline old-style">In cooperation with Indie Arena. Speakers: Martin Nerurkar, Vlad Micu, Johannes Zirm, Joost van Dongen, Andreas Heldt.</p>
            </div>
            <div class="thumb-actions hide-for-small-up">
                <div class="thumb-duration">55 Min</div>
                <div class="thumb-listenlater"><span class="icon-uniE8E5">
                 
                </span></div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="footer">
    <a href="#" class="button tiny secondary" id="oldpub">Meta Data</a>
    <a href="#" class="button tiny secondary" id="tile-width">Tile Size</a>
    <a href="#" class="button tiny secondary" id="image1">Image Size</a>
    <a href="#" class="button tiny secondary" id="tilebg">Tile BG</a>
    <a href="#" class="button tiny secondary" id="title">Title Style</a>
    <a href="#" class="button tiny secondary" id="actions">Actions</a>
    <a href="#" class="button tiny secondary" id="image-color">Pic Color</a>
    <a href="#" class="button tiny secondary" id="gray">Gray</a>
    <a href="#" class="button tiny secondary" id="gold">Gold</a>
</div>