$icon-uniE600: "\e600";
$icon-uniE601: "\e601";
$icon-uniE602: "\e602";
$icon-uniE603: "\e603";
$icon-uniE604: "\e604";
$icon-uniE605: "\e605";
$icon-uniE606: "\e606";
$icon-uniE607: "\e607";
$icon-uniE608: "\e608";
$icon-uniE609: "\e609";
$icon-uniE60A: "\e60a";
$icon-uniE60B: "\e60b";
$icon-uniE60C: "\e60c";
$icon-uniE60D: "\e60d";
$icon-uniE60E: "\e60e";
$icon-uniE60F: "\e60f";
$icon-uniE610: "\e610";
$icon-uniE611: "\e611";
$icon-uniE612: "\e612";
$icon-uniE613: "\e613";
$icon-uniE614: "\e614";
$icon-uniE615: "\e615";
$icon-uniE616: "\e616";
$icon-uniE617: "\e617";
$icon-uniE618: "\e618";
$icon-uniE619: "\e619";
$icon-uniE61A: "\e61a";
$icon-uniE61B: "\e61b";
$icon-uniE61C: "\e61c";
$icon-uniE61D: "\e61d";
$icon-uniE61E: "\e61e";
$icon-uniE61F: "\e61f";
$icon-uniE620: "\e620";
$icon-uniE621: "\e621";
$icon-uniE622: "\e622";
$icon-uniE623: "\e623";
$icon-uniE624: "\e624";
$icon-uniE625: "\e625";
$icon-uniE626: "\e626";
$icon-uniE627: "\e627";
$icon-uniE628: "\e628";
$icon-uniE629: "\e629";
$icon-uniE62A: "\e62a";
$icon-uniE62B: "\e62b";
$icon-uniE62C: "\e62c";
$icon-uniE62D: "\e62d";
$icon-uniE62E: "\e62e";
$icon-uniE62F: "\e62f";
$icon-uniE630: "\e630";
$icon-uniE631: "\e631";
$icon-uniE632: "\e632";
$icon-uniE633: "\e633";
$icon-uniE634: "\e634";
$icon-uniE635: "\e635";
$icon-uniE636: "\e636";
$icon-uniE637: "\e637";
$icon-uniE638: "\e638";
$icon-uniE639: "\e639";
$icon-uniE63A: "\e63a";
$icon-uniE63B: "\e63b";
$icon-uniE63C: "\e63c";
$icon-uniE63D: "\e63d";
$icon-uniE63E: "\e63e";
$icon-uniE63F: "\e63f";
$icon-uniE640: "\e640";
$icon-uniE641: "\e641";
$icon-uniE642: "\e642";
$icon-uniE643: "\e643";
$icon-uniE644: "\e644";
$icon-uniE645: "\e645";
$icon-uniE646: "\e646";
$icon-uniE647: "\e647";
$icon-uniE648: "\e648";
$icon-uniE649: "\e649";
$icon-uniE64A: "\e64a";
$icon-uniE64B: "\e64b";
$icon-uniE64C: "\e64c";
$icon-uniE64D: "\e64d";
$icon-uniE64E: "\e64e";
$icon-uniE64F: "\e64f";
$icon-uniE650: "\e650";
$icon-uniE651: "\e651";
$icon-uniE652: "\e652";
$icon-uniE653: "\e653";
$icon-uniE654: "\e654";
$icon-uniE655: "\e655";
$icon-uniE656: "\e656";
$icon-uniE657: "\e657";
$icon-uniE658: "\e658";
$icon-uniE659: "\e659";
$icon-uniE65A: "\e65a";
$icon-uniE65B: "\e65b";
$icon-uniE65C: "\e65c";
$icon-uniE65D: "\e65d";
$icon-uniE65E: "\e65e";
$icon-uniE65F: "\e65f";
$icon-uniE660: "\e660";
$icon-uniE661: "\e661";
$icon-uniE662: "\e662";
$icon-uniE663: "\e663";
$icon-uniE664: "\e664";
$icon-uniE665: "\e665";
$icon-uniE666: "\e666";
$icon-uniE667: "\e667";
$icon-uniE668: "\e668";
$icon-uniE669: "\e669";
$icon-uniE66A: "\e66a";
$icon-uniE66B: "\e66b";
$icon-uniE66C: "\e66c";
$icon-uniE66D: "\e66d";
$icon-uniE66E: "\e66e";
$icon-uniE66F: "\e66f";
$icon-uniE670: "\e670";
$icon-uniE671: "\e671";
$icon-uniE672: "\e672";
$icon-uniE673: "\e673";
$icon-uniE674: "\e674";
$icon-uniE675: "\e675";
$icon-uniE676: "\e676";
$icon-uniE677: "\e677";
$icon-uniE678: "\e678";
$icon-uniE679: "\e679";
$icon-uniE67A: "\e67a";
$icon-uniE67B: "\e67b";
$icon-uniE67C: "\e67c";
$icon-uniE67D: "\e67d";
$icon-uniE67E: "\e67e";
$icon-uniE67F: "\e67f";
$icon-uniE680: "\e680";
$icon-uniE681: "\e681";
$icon-uniE682: "\e682";
$icon-uniE683: "\e683";
$icon-uniE684: "\e684";
$icon-uniE685: "\e685";
$icon-uniE686: "\e686";
$icon-uniE687: "\e687";
$icon-uniE688: "\e688";
$icon-uniE689: "\e689";
$icon-uniE68A: "\e68a";
$icon-uniE68B: "\e68b";
$icon-uniE68C: "\e68c";
$icon-uniE68D: "\e68d";
$icon-uniE68E: "\e68e";
$icon-uniE68F: "\e68f";
$icon-uniE690: "\e690";
$icon-uniE691: "\e691";
$icon-uniE692: "\e692";
$icon-uniE693: "\e693";
$icon-uniE694: "\e694";
$icon-uniE695: "\e695";
$icon-uniE696: "\e696";
$icon-uniE697: "\e697";
$icon-uniE698: "\e698";
$icon-uniE699: "\e699";
$icon-uniE69A: "\e69a";
$icon-uniE69B: "\e69b";
$icon-uniE69C: "\e69c";
$icon-uniE69D: "\e69d";
$icon-uniE69E: "\e69e";
$icon-uniE69F: "\e69f";
$icon-uniE6A0: "\e6a0";
$icon-uniE6A1: "\e6a1";
$icon-uniE6A2: "\e6a2";
$icon-uniE6A3: "\e6a3";
$icon-uniE6A4: "\e6a4";
$icon-uniE6A5: "\e6a5";
$icon-uniE6A6: "\e6a6";
$icon-uniE6A7: "\e6a7";
$icon-uniE6A8: "\e6a8";
$icon-uniE6A9: "\e6a9";
$icon-uniE6AA: "\e6aa";
$icon-uniE6AB: "\e6ab";
$icon-uniE6AC: "\e6ac";
$icon-uniE6AD: "\e6ad";
$icon-uniE6AE: "\e6ae";
$icon-uniE6AF: "\e6af";
$icon-uniE6B0: "\e6b0";
$icon-uniE6B1: "\e6b1";
$icon-uniE6B2: "\e6b2";
$icon-uniE6B3: "\e6b3";
$icon-uniE6B4: "\e6b4";
$icon-uniE6B5: "\e6b5";
$icon-uniE6B6: "\e6b6";
$icon-uniE6B7: "\e6b7";
$icon-uniE6B8: "\e6b8";
$icon-uniE6B9: "\e6b9";
$icon-uniE6BA: "\e6ba";
$icon-uniE6BB: "\e6bb";
$icon-uniE6BC: "\e6bc";
$icon-uniE6BD: "\e6bd";
$icon-uniE6BE: "\e6be";
$icon-uniE6BF: "\e6bf";
$icon-uniE6C0: "\e6c0";
$icon-uniE6C1: "\e6c1";
$icon-uniE6C2: "\e6c2";
$icon-uniE6C3: "\e6c3";
$icon-uniE6C4: "\e6c4";
$icon-uniE6C5: "\e6c5";
$icon-uniE6C6: "\e6c6";
$icon-uniE6C7: "\e6c7";
$icon-uniE6C8: "\e6c8";
$icon-uniE6C9: "\e6c9";
$icon-uniE6CA: "\e6ca";
$icon-uniE6CB: "\e6cb";
$icon-uniE6CC: "\e6cc";
$icon-uniE6CD: "\e6cd";
$icon-uniE6CE: "\e6ce";
$icon-uniE6CF: "\e6cf";
$icon-uniE6D0: "\e6d0";
$icon-uniE6D1: "\e6d1";
$icon-uniE6D2: "\e6d2";
$icon-uniE6D3: "\e6d3";
$icon-uniE6D4: "\e6d4";
$icon-uniE6D5: "\e6d5";
$icon-uniE6D6: "\e6d6";
$icon-uniE6D7: "\e6d7";
$icon-uniE6D8: "\e6d8";
$icon-uniE6D9: "\e6d9";
$icon-uniE6DA: "\e6da";
$icon-uniE6DB: "\e6db";
$icon-uniE6DC: "\e6dc";
$icon-uniE6DD: "\e6dd";
$icon-uniE6DE: "\e6de";
$icon-uniE6DF: "\e6df";
$icon-uniE6E0: "\e6e0";
$icon-uniE6E1: "\e6e1";
$icon-uniE6E2: "\e6e2";
$icon-uniE6E3: "\e6e3";
$icon-uniE6E4: "\e6e4";
$icon-uniE6E5: "\e6e5";
$icon-uniE6E6: "\e6e6";
$icon-uniE6E7: "\e6e7";
$icon-uniE6E8: "\e6e8";
$icon-uniE6E9: "\e6e9";
$icon-uniE6EA: "\e6ea";
$icon-uniE6EB: "\e6eb";
$icon-uniE6EC: "\e6ec";
$icon-uniE6ED: "\e6ed";
$icon-uniE6EE: "\e6ee";
$icon-uniE6EF: "\e6ef";
$icon-uniE6F0: "\e6f0";
$icon-uniE6F1: "\e6f1";
$icon-uniE6F2: "\e6f2";
$icon-uniE6F3: "\e6f3";
$icon-uniE6F4: "\e6f4";
$icon-uniE6F5: "\e6f5";
$icon-uniE6F6: "\e6f6";
$icon-uniE6F7: "\e6f7";
$icon-uniE6F8: "\e6f8";
$icon-uniE6F9: "\e6f9";
$icon-uniE6FA: "\e6fa";
$icon-uniE6FB: "\e6fb";
$icon-uniE6FC: "\e6fc";
$icon-uniE6FD: "\e6fd";
$icon-uniE6FE: "\e6fe";
$icon-uniE6FF: "\e6ff";
$icon-uniE700: "\e700";
$icon-uniE701: "\e701";
$icon-uniE702: "\e702";
$icon-uniE703: "\e703";
$icon-uniE704: "\e704";
$icon-uniE705: "\e705";
$icon-uniE706: "\e706";
$icon-uniE707: "\e707";
$icon-uniE708: "\e708";
$icon-uniE709: "\e709";
$icon-uniE70A: "\e70a";
$icon-uniE70B: "\e70b";
$icon-uniE70C: "\e70c";
$icon-uniE70D: "\e70d";
$icon-uniE70E: "\e70e";
$icon-uniE70F: "\e70f";
$icon-uniE710: "\e710";
$icon-uniE711: "\e711";
$icon-uniE712: "\e712";
$icon-uniE713: "\e713";
$icon-uniE714: "\e714";
$icon-uniE715: "\e715";
$icon-uniE716: "\e716";
$icon-uniE717: "\e717";
$icon-uniE718: "\e718";
$icon-uniE719: "\e719";
$icon-uniE71A: "\e71a";
$icon-uniE71B: "\e71b";
$icon-uniE71C: "\e71c";
$icon-uniE71D: "\e71d";
$icon-uniE71E: "\e71e";
$icon-uniE71F: "\e71f";
$icon-uniE720: "\e720";
$icon-uniE721: "\e721";
$icon-uniE722: "\e722";
$icon-uniE723: "\e723";
$icon-uniE724: "\e724";
$icon-uniE725: "\e725";
$icon-uniE726: "\e726";
$icon-uniE727: "\e727";
$icon-uniE728: "\e728";
$icon-uniE729: "\e729";
$icon-uniE72A: "\e72a";
$icon-uniE72B: "\e72b";
$icon-uniE72C: "\e72c";
$icon-uniE72D: "\e72d";
$icon-uniE72E: "\e72e";
$icon-uniE72F: "\e72f";
$icon-uniE730: "\e730";
$icon-uniE731: "\e731";
$icon-uniE732: "\e732";
$icon-uniE733: "\e733";
$icon-uniE734: "\e734";
$icon-uniE735: "\e735";
$icon-uniE736: "\e736";
$icon-uniE737: "\e737";
$icon-uniE738: "\e738";
$icon-uniE739: "\e739";
$icon-uniE73A: "\e73a";
$icon-uniE73B: "\e73b";
$icon-uniE73C: "\e73c";
$icon-uniE73D: "\e73d";
$icon-uniE73E: "\e73e";
$icon-uniE73F: "\e73f";
$icon-uniE740: "\e740";
$icon-uniE741: "\e741";
$icon-uniE742: "\e742";
$icon-uniE743: "\e743";
$icon-uniE744: "\e744";
$icon-uniE745: "\e745";
$icon-uniE746: "\e746";
$icon-uniE747: "\e747";
$icon-uniE748: "\e748";
$icon-uniE749: "\e749";
$icon-uniE74A: "\e74a";
$icon-uniE74B: "\e74b";
$icon-uniE74C: "\e74c";
$icon-uniE74D: "\e74d";
$icon-uniE74E: "\e74e";
$icon-uniE74F: "\e74f";
$icon-uniE750: "\e750";
$icon-uniE751: "\e751";
$icon-uniE752: "\e752";
$icon-uniE753: "\e753";
$icon-uniE754: "\e754";
$icon-uniE755: "\e755";
$icon-uniE756: "\e756";
$icon-uniE757: "\e757";
$icon-uniE758: "\e758";
$icon-uniE759: "\e759";
$icon-uniE75A: "\e75a";
$icon-uniE75B: "\e75b";
$icon-uniE75C: "\e75c";
$icon-uniE75D: "\e75d";
$icon-uniE75E: "\e75e";
$icon-uniE75F: "\e75f";
$icon-uniE760: "\e760";
$icon-uniE761: "\e761";
$icon-uniE762: "\e762";
$icon-uniE763: "\e763";
$icon-uniE764: "\e764";
$icon-uniE765: "\e765";
$icon-uniE766: "\e766";
$icon-uniE767: "\e767";
$icon-uniE768: "\e768";
$icon-uniE769: "\e769";
$icon-uniE76A: "\e76a";
$icon-uniE76B: "\e76b";
$icon-uniE76C: "\e76c";
$icon-uniE76D: "\e76d";
$icon-uniE76E: "\e76e";
$icon-uniE76F: "\e76f";
$icon-uniE770: "\e770";
$icon-uniE771: "\e771";
$icon-uniE772: "\e772";
$icon-uniE773: "\e773";
$icon-uniE774: "\e774";
$icon-uniE775: "\e775";
$icon-uniE776: "\e776";
$icon-uniE777: "\e777";
$icon-uniE778: "\e778";
$icon-uniE779: "\e779";
$icon-uniE77A: "\e77a";
$icon-uniE77B: "\e77b";
$icon-uniE77C: "\e77c";
$icon-uniE77D: "\e77d";
$icon-uniE77E: "\e77e";
$icon-uniE77F: "\e77f";
$icon-uniE780: "\e780";
$icon-uniE781: "\e781";
$icon-uniE782: "\e782";
$icon-uniE783: "\e783";
$icon-uniE784: "\e784";
$icon-uniE785: "\e785";
$icon-uniE786: "\e786";
$icon-uniE787: "\e787";
$icon-uniE788: "\e788";
$icon-uniE789: "\e789";
$icon-uniE78A: "\e78a";
$icon-uniE78B: "\e78b";
$icon-uniE78C: "\e78c";
$icon-uniE78D: "\e78d";
$icon-uniE78E: "\e78e";
$icon-uniE78F: "\e78f";
$icon-uniE790: "\e790";
$icon-uniE791: "\e791";
$icon-uniE792: "\e792";
$icon-uniE793: "\e793";
$icon-uniE794: "\e794";
$icon-uniE795: "\e795";
$icon-uniE796: "\e796";
$icon-uniE797: "\e797";
$icon-uniE798: "\e798";
$icon-uniE799: "\e799";
$icon-uniE79A: "\e79a";
$icon-uniE79B: "\e79b";
$icon-uniE79C: "\e79c";
$icon-uniE79D: "\e79d";
$icon-uniE79E: "\e79e";
$icon-uniE79F: "\e79f";
$icon-uniE7A0: "\e7a0";
$icon-uniE7A1: "\e7a1";
$icon-uniE7A2: "\e7a2";
$icon-uniE7A3: "\e7a3";
$icon-uniE7A4: "\e7a4";
$icon-uniE7A5: "\e7a5";
$icon-uniE7A6: "\e7a6";
$icon-uniE7A7: "\e7a7";
$icon-uniE7A8: "\e7a8";
$icon-uniE7A9: "\e7a9";
$icon-uniE7AA: "\e7aa";
$icon-uniE7AB: "\e7ab";
$icon-uniE7AC: "\e7ac";
$icon-uniE7AD: "\e7ad";
$icon-uniE7AE: "\e7ae";
$icon-uniE7AF: "\e7af";
$icon-uniE7B0: "\e7b0";
$icon-uniE7B1: "\e7b1";
$icon-uniE7B2: "\e7b2";
$icon-uniE7B3: "\e7b3";
$icon-uniE7B4: "\e7b4";
$icon-uniE7B5: "\e7b5";
$icon-uniE7B6: "\e7b6";
$icon-uniE7B7: "\e7b7";
$icon-uniE7B8: "\e7b8";
$icon-uniE7B9: "\e7b9";
$icon-uniE7BA: "\e7ba";
$icon-uniE7BB: "\e7bb";
$icon-uniE7BC: "\e7bc";
$icon-uniE7BD: "\e7bd";
$icon-uniE7BE: "\e7be";
$icon-uniE7BF: "\e7bf";
$icon-uniE7C0: "\e7c0";
$icon-uniE7C1: "\e7c1";
$icon-uniE7C2: "\e7c2";
$icon-uniE7C3: "\e7c3";
$icon-uniE7C4: "\e7c4";
$icon-uniE7C5: "\e7c5";
$icon-uniE7C6: "\e7c6";
$icon-uniE7C7: "\e7c7";
$icon-uniE7C8: "\e7c8";
$icon-uniE7C9: "\e7c9";
$icon-uniE7CA: "\e7ca";
$icon-uniE7CB: "\e7cb";
$icon-uniE7CC: "\e7cc";
$icon-uniE7CD: "\e7cd";
$icon-uniE7CE: "\e7ce";
$icon-uniE7CF: "\e7cf";
$icon-uniE7D0: "\e7d0";
$icon-uniE7D1: "\e7d1";
$icon-uniE7D2: "\e7d2";
$icon-uniE7D3: "\e7d3";
$icon-uniE7D4: "\e7d4";
$icon-uniE7D5: "\e7d5";
$icon-uniE7D6: "\e7d6";
$icon-uniE7D7: "\e7d7";
$icon-uniE7D8: "\e7d8";
$icon-uniE7D9: "\e7d9";
$icon-uniE7DA: "\e7da";
$icon-uniE7DB: "\e7db";
$icon-uniE7DC: "\e7dc";
$icon-uniE7DD: "\e7dd";
$icon-uniE7DE: "\e7de";
$icon-uniE7DF: "\e7df";
$icon-uniE7E0: "\e7e0";
$icon-uniE7E1: "\e7e1";
$icon-uniE7E2: "\e7e2";
$icon-uniE7E3: "\e7e3";
$icon-uniE7E4: "\e7e4";
$icon-uniE7E5: "\e7e5";
$icon-uniE7E6: "\e7e6";
$icon-uniE7E7: "\e7e7";
$icon-uniE7E8: "\e7e8";
$icon-uniE7E9: "\e7e9";
$icon-uniE7EA: "\e7ea";
$icon-uniE7EB: "\e7eb";
$icon-uniE7EC: "\e7ec";
$icon-uniE7ED: "\e7ed";
$icon-uniE7EE: "\e7ee";
$icon-uniE7EF: "\e7ef";
$icon-uniE7F0: "\e7f0";
$icon-uniE7F1: "\e7f1";
$icon-uniE7F2: "\e7f2";
$icon-uniE7F3: "\e7f3";
$icon-uniE7F4: "\e7f4";
$icon-uniE7F5: "\e7f5";
$icon-uniE7F6: "\e7f6";
$icon-uniE7F7: "\e7f7";
$icon-uniE7F8: "\e7f8";
$icon-uniE7F9: "\e7f9";
$icon-uniE7FA: "\e7fa";
$icon-uniE7FB: "\e7fb";
$icon-uniE7FC: "\e7fc";
$icon-uniE7FD: "\e7fd";
$icon-uniE7FE: "\e7fe";
$icon-uniE7FF: "\e7ff";
$icon-uniE800: "\e800";
$icon-uniE801: "\e801";
$icon-uniE802: "\e802";
$icon-uniE803: "\e803";
$icon-uniE804: "\e804";
$icon-uniE805: "\e805";
$icon-uniE806: "\e806";
$icon-uniE807: "\e807";
$icon-uniE808: "\e808";
$icon-uniE809: "\e809";
$icon-uniE80A: "\e80a";
$icon-uniE80B: "\e80b";
$icon-uniE80C: "\e80c";
$icon-uniE80D: "\e80d";
$icon-uniE80E: "\e80e";
$icon-uniE80F: "\e80f";
$icon-uniE810: "\e810";
$icon-uniE811: "\e811";
$icon-uniE812: "\e812";
$icon-uniE813: "\e813";
$icon-uniE814: "\e814";
$icon-uniE815: "\e815";
$icon-uniE816: "\e816";
$icon-uniE817: "\e817";
$icon-uniE818: "\e818";
$icon-uniE819: "\e819";
$icon-uniE81A: "\e81a";
$icon-uniE81B: "\e81b";
$icon-uniE81C: "\e81c";
$icon-uniE81D: "\e81d";
$icon-uniE81E: "\e81e";
$icon-uniE81F: "\e81f";
$icon-uniE820: "\e820";
$icon-uniE821: "\e821";
$icon-uniE822: "\e822";
$icon-uniE823: "\e823";
$icon-uniE824: "\e824";
$icon-uniE825: "\e825";
$icon-uniE826: "\e826";
$icon-uniE827: "\e827";
$icon-uniE828: "\e828";
$icon-uniE829: "\e829";
$icon-uniE82A: "\e82a";
$icon-uniE82B: "\e82b";
$icon-uniE82C: "\e82c";
$icon-uniE82D: "\e82d";
$icon-uniE82E: "\e82e";
$icon-uniE82F: "\e82f";
$icon-uniE830: "\e830";
$icon-uniE831: "\e831";
$icon-uniE832: "\e832";
$icon-uniE833: "\e833";
$icon-uniE834: "\e834";
$icon-uniE835: "\e835";
$icon-uniE836: "\e836";
$icon-uniE837: "\e837";
$icon-uniE838: "\e838";
$icon-uniE839: "\e839";
$icon-uniE83A: "\e83a";
$icon-uniE83B: "\e83b";
$icon-uniE83C: "\e83c";
$icon-uniE83D: "\e83d";
$icon-uniE83E: "\e83e";
$icon-uniE83F: "\e83f";
$icon-uniE840: "\e840";
$icon-uniE841: "\e841";
$icon-uniE842: "\e842";
$icon-uniE843: "\e843";
$icon-uniE844: "\e844";
$icon-uniE845: "\e845";
$icon-uniE846: "\e846";
$icon-uniE847: "\e847";
$icon-uniE848: "\e848";
$icon-uniE849: "\e849";
$icon-uniE84A: "\e84a";
$icon-uniE84B: "\e84b";
$icon-uniE84C: "\e84c";
$icon-uniE84D: "\e84d";
$icon-uniE84E: "\e84e";
$icon-uniE84F: "\e84f";
$icon-uniE850: "\e850";
$icon-uniE851: "\e851";
$icon-uniE852: "\e852";
$icon-uniE853: "\e853";
$icon-uniE854: "\e854";
$icon-uniE855: "\e855";
$icon-uniE856: "\e856";
$icon-uniE857: "\e857";
$icon-uniE858: "\e858";
$icon-uniE859: "\e859";
$icon-uniE85A: "\e85a";
$icon-uniE85B: "\e85b";
$icon-uniE85C: "\e85c";
$icon-uniE85D: "\e85d";
$icon-uniE85E: "\e85e";
$icon-uniE85F: "\e85f";
$icon-uniE860: "\e860";
$icon-uniE861: "\e861";
$icon-uniE862: "\e862";
$icon-uniE863: "\e863";
$icon-uniE864: "\e864";
$icon-uniE865: "\e865";
$icon-uniE866: "\e866";
$icon-uniE867: "\e867";
$icon-uniE868: "\e868";
$icon-uniE869: "\e869";
$icon-uniE86A: "\e86a";
$icon-uniE86B: "\e86b";
$icon-uniE86C: "\e86c";
$icon-uniE86D: "\e86d";
$icon-uniE86E: "\e86e";
$icon-uniE86F: "\e86f";
$icon-uniE870: "\e870";
$icon-uniE871: "\e871";
$icon-uniE872: "\e872";
$icon-uniE873: "\e873";
$icon-uniE874: "\e874";
$icon-uniE875: "\e875";
$icon-uniE876: "\e876";
$icon-uniE877: "\e877";
$icon-uniE878: "\e878";
$icon-uniE879: "\e879";
$icon-uniE87A: "\e87a";
$icon-uniE87B: "\e87b";
$icon-uniE87C: "\e87c";
$icon-uniE87D: "\e87d";
$icon-uniE87E: "\e87e";
$icon-uniE87F: "\e87f";
$icon-uniE880: "\e880";
$icon-uniE881: "\e881";
$icon-uniE882: "\e882";
$icon-uniE883: "\e883";
$icon-uniE884: "\e884";
$icon-uniE885: "\e885";
$icon-uniE886: "\e886";
$icon-uniE887: "\e887";
$icon-uniE888: "\e888";
$icon-uniE889: "\e889";
$icon-uniE88A: "\e88a";
$icon-uniE88B: "\e88b";
$icon-uniE88C: "\e88c";
$icon-uniE88D: "\e88d";
$icon-uniE88E: "\e88e";
$icon-uniE88F: "\e88f";
$icon-uniE890: "\e890";
$icon-uniE891: "\e891";
$icon-uniE892: "\e892";
$icon-uniE893: "\e893";
$icon-uniE894: "\e894";
$icon-uniE895: "\e895";
$icon-uniE896: "\e896";
$icon-uniE897: "\e897";
$icon-uniE898: "\e898";
$icon-uniE899: "\e899";
$icon-uniE89A: "\e89a";
$icon-uniE89B: "\e89b";
$icon-uniE89C: "\e89c";
$icon-uniE89D: "\e89d";
$icon-uniE89E: "\e89e";
$icon-uniE89F: "\e89f";
$icon-uniE8A0: "\e8a0";
$icon-uniE8A1: "\e8a1";
$icon-uniE8A2: "\e8a2";
$icon-uniE8A3: "\e8a3";
$icon-uniE8A4: "\e8a4";
$icon-uniE8A5: "\e8a5";
$icon-uniE8A6: "\e8a6";
$icon-uniE8A7: "\e8a7";
$icon-uniE8A8: "\e8a8";
$icon-uniE8A9: "\e8a9";
$icon-uniE8AA: "\e8aa";
$icon-uniE8AB: "\e8ab";
$icon-uniE8AC: "\e8ac";
$icon-uniE8AD: "\e8ad";
$icon-uniE8AE: "\e8ae";
$icon-uniE8AF: "\e8af";
$icon-uniE8B0: "\e8b0";
$icon-uniE8B1: "\e8b1";
$icon-uniE8B2: "\e8b2";
$icon-uniE8B3: "\e8b3";
$icon-uniE8B4: "\e8b4";
$icon-uniE8B5: "\e8b5";
$icon-uniE8B6: "\e8b6";
$icon-uniE8B7: "\e8b7";
$icon-uniE8B8: "\e8b8";
$icon-uniE8B9: "\e8b9";
$icon-uniE8BA: "\e8ba";
$icon-uniE8BB: "\e8bb";
$icon-uniE8BC: "\e8bc";
$icon-uniE8BD: "\e8bd";
$icon-uniE8BE: "\e8be";
$icon-uniE8BF: "\e8bf";
$icon-uniE8C0: "\e8c0";
$icon-uniE8C1: "\e8c1";
$icon-uniE8C2: "\e8c2";
$icon-uniE8C3: "\e8c3";
$icon-uniE8C4: "\e8c4";
$icon-uniE8C5: "\e8c5";
$icon-uniE8C6: "\e8c6";
$icon-uniE8C7: "\e8c7";
$icon-uniE8C8: "\e8c8";
$icon-uniE8C9: "\e8c9";
$icon-uniE8CA: "\e8ca";
$icon-uniE8CB: "\e8cb";
$icon-uniE8CC: "\e8cc";
$icon-uniE8CD: "\e8cd";
$icon-uniE8CE: "\e8ce";
$icon-uniE8CF: "\e8cf";
$icon-uniE8D0: "\e8d0";
$icon-uniE8D1: "\e8d1";
$icon-uniE8D2: "\e8d2";
$icon-uniE8D3: "\e8d3";
$icon-uniE8D4: "\e8d4";
$icon-uniE8D5: "\e8d5";
$icon-uniE8D6: "\e8d6";
$icon-uniE8D7: "\e8d7";
$icon-uniE8D8: "\e8d8";
$icon-uniE8D9: "\e8d9";
$icon-uniE8DA: "\e8da";
$icon-uniE8DB: "\e8db";
$icon-uniE8DC: "\e8dc";
$icon-uniE8DD: "\e8dd";
$icon-uniE8DE: "\e8de";
$icon-uniE8DF: "\e8df";
$icon-uniE8E0: "\e8e0";
$icon-uniE8E1: "\e8e1";
$icon-uniE8E2: "\e8e2";
$icon-uniE8E3: "\e8e3";
$icon-uniE8E4: "\e8e4";
$icon-uniE8E5: "\e8e5";
$icon-uniE8E6: "\e8e6";
$icon-uniE8E7: "\e8e7";
$icon-uniE8E8: "\e8e8";
$icon-uniE8E9: "\e8e9";
$icon-uniE8EA: "\e8ea";
$icon-uniE8EB: "\e8eb";
$icon-uniE8EC: "\e8ec";
$icon-uniE8ED: "\e8ed";
$icon-uniE8EE: "\e8ee";
$icon-uniE8EF: "\e8ef";
$icon-uniE8F0: "\e8f0";
$icon-uniE8F1: "\e8f1";
$icon-uniE8F2: "\e8f2";
$icon-uniE8F3: "\e8f3";
$icon-uniE8F4: "\e8f4";
$icon-uniE8F5: "\e8f5";
$icon-uniE8F6: "\e8f6";
$icon-uniE8F7: "\e8f7";
$icon-uniE8F8: "\e8f8";
$icon-uniE8F9: "\e8f9";
$icon-uniE8FA: "\e8fa";
$icon-uniE8FB: "\e8fb";
$icon-uniE8FC: "\e8fc";
$icon-uniE8FD: "\e8fd";
$icon-uniE8FE: "\e8fe";
$icon-uniE8FF: "\e8ff";
$icon-uniE900: "\e900";
$icon-uniE901: "\e901";
$icon-uniE902: "\e902";
$icon-uniE903: "\e903";
$icon-uniE904: "\e904";
$icon-uniE905: "\e905";
$icon-uniE906: "\e906";
$icon-uniE907: "\e907";
$icon-uniE908: "\e908";
$icon-uniE909: "\e909";
$icon-uniE90A: "\e90a";
$icon-uniE90B: "\e90b";
$icon-uniE90C: "\e90c";
$icon-uniE90D: "\e90d";
$icon-uniE90E: "\e90e";
$icon-uniE90F: "\e90f";
$icon-uniE910: "\e910";
$icon-uniE911: "\e911";
$icon-uniE912: "\e912";
$icon-uniE913: "\e913";
$icon-uniE914: "\e914";
$icon-uniE915: "\e915";
$icon-uniE916: "\e916";
$icon-uniE917: "\e917";
$icon-uniE918: "\e918";
$icon-uniE919: "\e919";
$icon-uniE91A: "\e91a";
$icon-uniE91B: "\e91b";
$icon-uniE91C: "\e91c";
$icon-uniE91D: "\e91d";
$icon-uniE91E: "\e91e";
$icon-uniE91F: "\e91f";
$icon-uniE920: "\e920";
$icon-uniE921: "\e921";
$icon-uniE922: "\e922";
$icon-uniE923: "\e923";
$icon-uniE924: "\e924";
$icon-uniE925: "\e925";
$icon-uniE926: "\e926";
$icon-uniE927: "\e927";
$icon-uniE928: "\e928";
$icon-uniE929: "\e929";
$icon-uniE92A: "\e92a";
$icon-uniE92B: "\e92b";
$icon-uniE92C: "\e92c";
$icon-uniE92D: "\e92d";
$icon-uniE92E: "\e92e";
$icon-uniE92F: "\e92f";
$icon-uniE930: "\e930";
$icon-uniE931: "\e931";
$icon-uniE932: "\e932";
$icon-uniE933: "\e933";
$icon-uniE934: "\e934";
$icon-uniE935: "\e935";
$icon-uniE936: "\e936";
$icon-uniE937: "\e937";
$icon-uniE938: "\e938";
$icon-uniE939: "\e939";
$icon-uniE93A: "\e93a";
$icon-uniE93B: "\e93b";
$icon-uniE93C: "\e93c";
$icon-uniE93D: "\e93d";
$icon-uniE93E: "\e93e";
$icon-uniE93F: "\e93f";
$icon-uniE940: "\e940";
$icon-uniE941: "\e941";
$icon-uniE942: "\e942";
$icon-uniE943: "\e943";
$icon-uniE944: "\e944";
$icon-uniE945: "\e945";
$icon-uniE946: "\e946";
$icon-uniE947: "\e947";
$icon-uniE948: "\e948";
$icon-uniE949: "\e949";
$icon-uniE94A: "\e94a";
$icon-uniE94B: "\e94b";
$icon-uniE94C: "\e94c";
$icon-uniE94D: "\e94d";
$icon-uniE94E: "\e94e";
$icon-uniE94F: "\e94f";
$icon-uniE950: "\e950";
$icon-uniE951: "\e951";
