/*
Error: Invalid CSS after "...nly screen and ": expected media expression (e.g. (min-device-width: 800px)), was "{min-width: 768..."
        on line 238 of src/assets/styles/app.scss

233: 	// 	margin:12px 12px 0 0;
234: 	// }
235: 
236: }
237: 
238: @media only screen and {min-width: 768px} { 
239: 	
240: 	
241: 	.thumbnail {
242: 		width:50%;
243: 	}

Backtrace:
src/assets/styles/app.scss:238
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:1078:in `expr!'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:438:in `media_query'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:406:in `media_query_list'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:1076:in `expr!'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:194:in `directive'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `load'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `<main>'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `eval'
/Users/nunu/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...nly screen and \": expected media expression (e.g. (min-device-width: 800px)), was \"{min-width: 768...\"\A         on line 238 of src/assets/styles/app.scss\A \A 233: 	// 	margin:12px 12px 0 0;\A 234: 	// }\A 235: \A 236: }\A 237: \A 238: @media only screen and {min-width: 768px} { \A 239: 	\A 240: 	\A 241: 	.thumbnail {\A 242: 		width:50%;\A 243: 	}"; }
