// get the original globals:
@import '../../../bower_components/foundation/scss/foundation';
@import 'iconfont';

html, body {
	-webkit-font-smoothing: antialiased;
	height:100%;
	background:$smoke;
}

#main {
	width:100%;
	height:100%;
	display:flex;
	display:-webkit-flex;
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
}

// TITLEBAR 

.titlebar {
	flex:1 0;
	background:rgba(190,194,208,.2);
	// margin:-24px 0 0 -24px;
	padding:24px;
	display:flex;
	display:-webkit-flex;
	-webkit-justify-content:space-between;
	-webkit-align-items:baseline;
}

.sort-bar {
	-webkit-flex: 1 0;
	background:$secondary-color;
	padding:12px 24px;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	-webkit-justify-content:flex-end;
	-webkit-align-items:flex-end;
}

.sort-bar h5, .sort-bar h5 a {
	margin:0;
	color: $jet;
}

.sort-bar h5 a.active {
	color:$tuatara;
}

.titlebar h3, .titlebar h5 {
	margin:0;
	font-weight:300;
	color:$tuatara;
}

.titlebar h3 strong, .titlebar h5 strong {
	color:$jet;
	font-weight:300;
}

.titlebar h3 a, .titlebar h5 a {
	color: $jet;
}

.titlebar h5 a.active {
	color:$primary-color;
}
// THUMBNAILS!!


#image-width:after {
	content: $small-breakpoint;
}

#thumb-container {
	 display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
	background:none;
	padding:6px;
	justify-content:flex-start;
	align-items:flex-start;
}



.thumbnail {
	padding:6px;
	width:100%;
	background: none;
	display:block;
}

.thumbnail-inside {
	background: $white;
	box-shadow:0 1px 3px rgba(0,0,0,.2);
	display:flex; display:-webkit-flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: stretch;
	padding:12px 12px 12px 24px;
	flex:1 100%;
	cursor:pointer;
}


.thumb-image-holder, .thumb-image {
	width: 10vw;
	height: 10vw;
	min-width:10vw;
	min-height: 10vw;
	margin:12px;
	z-index:0;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	position:relative;
}

.thumb-image {
	margin:0;
	background:url(../img/thumbs/thumb0.jpg) no-repeat 50% 50%;
	background-size:cover;
	-webkit-filter: sepia(1) hue-rotate(180deg) opacity(.4); 
	// -webkit-filter: grayscale(.5);
	filter:sepia(1) hue-rotate(180deg) opacity(.2);
	// filter:hue-rotate(100);
	flex:0;
	-webkit-flex:0;
}

.thumb-overlay {
	position:absolute;
	z-index:10;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba(97,111,123,.2);
	transition: background .5s ease;
	display:flex; display:-webkit-flex;
	flex-flow:row nowrap;
	-webkit-flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
}

.thumb-overlay:after {
	content:"";
	flex:0;
	width: 0; 
	height: 0; 
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	
	border-left: 44px solid rgba(255,255,255,.8);
}

// HOVERS!

.thumbnail-inside:hover {
	box-shadow:0 2px 15px rgba(0,0,0,.2);
}

.thumbnail-inside:hover .thumb-overlay {
 	background:rgba(221,186,118,.7);
}

.thumbnail-inside:hover .thumb-overlay:after {
	border-left: 44px solid rgba(255,255,255,1);
}




.thumb-right {
	background: none;
	flex: 1 1 75%;
	margin: 12px 12px 12px 0;
	padding:0;
	display:flex; display:-webkit-flex;
	flex-flow:column nowrap;
	-webkit-flex-flow:column nowrap;
	justify-content:space-between;
	align-items: flex-start;
}

.thumb-info {
	flex: 1 0 auto;
	overflow-y:hidden;
}

h1.thumb-title {
	margin-top:0;
	font-size: rem-calc(20);
	line-height: 21px;
	font-weight: 700;
	text-decoration:none;
	transition:text-decoration .5s ease;
}

.thumb-actions {
	flex:0 0 42px;
	-webkit-flex:0 0 42px;
	align-self: flex-end;
	color:$iron;
	background: none;
	padding: 0;
	display:flex; display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	width:100%;
}

.thumb-listenlater, .thumb-duration {
	height:42px;
	display:flex; display:-webkit-flex;
	justify-content:center;
	align-items:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	margin-left: 6px;
	background:$snow;
	margin:0;
	padding:0 12px;
	transition:background .5s ease;
}

.thumb-duration {
	margin-right:6px;
	background:#fafafa;
}

.thumb-listenlater:hover {
	background:$primary-color;
	color:#fff;
}

p.thumb-meta {
	font-size: rem-calc(14);
	font-weight: 300;
	color: $secondary-color;
	line-height: rem-calc(14);
	margin-bottom:8px;
}

.thumb-publisher:hover {
	text-decoration:underline;
}



.thumb-timeago {
	color: $charcoal;
	margin-left: 12px;
}

p.thumb-logline {
	font-family: 'Adobe Caslon Pro', helvetica;
	color: $tuatara;
	font-size:rem-calc(14);
	line-height: rem-calc(18);
	margin-bottom: 12px;
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { 

.thumb-info {
	flex: 1 1 calc(10vw - 42px);
	-webkit-flex: 1 1 calc(10vw - 42px);
	overflow-y:hidden;
}

	#thumb-container {
		padding:18px;
	}

	.thumbnail {
		padding: 6px;
	}

	.thumbnail-inside {
		padding:0;
	}

}
@media #{$medium-only} { 

	.thumb-image-holder, .thumb-image {
		margin:12px;
		width: 20vw;
		height: 20vw;
		min-width:20vw;
		min-height: 20vw;
	} 

	.thumb-image {
		margin: 0;
	}

	// .thumb-right {
	// 	margin:12px 12px 0 0;
	// }

}

@media  #{$large-up} { 
	
	
	.thumbnail {
		width:50%;
	}


	.thumb-image-holder, .thumb-image {
		width: 15vw;
		height: 15vw;
		min-width:15vw;
		min-height: 15vw;
	}


}
@media #{$large-only} { 



}

// IPAD 

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.thumbnail {
		width:50%;
	}


	.thumb-image-holder, .thumb-image {
		width: 15vw;
		height: 15vw;
		min-width:15vw;
		min-height: 15vw;
	}


}

@media #{$xlarge-up} { 
	.thumbnail {
		width:33.33%;
	}

	// .thumb-image-holder, .thumb-image {
	// 	width: calc(100% - (100vw/1920));
	// 	height: calc(100% - (100vw/1920px));
	// 	min-width:calc(100% - (100vw/1920px));
	// 	min-height: calc(100% - (100vw/1920px));
	// } 


	.thumb-image-holder, .thumb-image {
		width: 210px;
		height: 210px;
		min-width:210px;
		min-height: 210px;
	} 

	.thumb-info {
	flex: 1 1 calc(210px - 42px);
	-webkit-flex: 1 1 calc(210px - 42px);
	overflow:hidden;
}

}

@media #{$xxlarge-up} {
	.thumbnail {
		width:25%;
	} 

	// .thumb-image {
	// 	width: 8vw;
	// 	height: 8vw;
	// 	min-width:8vw;
	// 	min-height: 8vw;
	// } 

	// .thumb-info {
	// 	flex: 1 1 calc(8vw - 42px);
	// 	overflow-y:hidden;
	// }
	// .thumb-right {
	// margin: 24px 24px 0 0;
	// }

	p.thumb-meta {
		margin-bottom: 14px;
	}
}
@media #{$xxlarge-only} { }